# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.*

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore database files
*.db
*.sqlite

# Ignore OS-specific files
.DS_Store
Thumbs.db